<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-secondary mb-4">
  <div class="container">
    <a class="navbar-brand fw-bold" href="{% url 'users:profile' %}">My Profile</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#profileNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="profileNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="{% url 'movies:home' %}">🏠 Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#">🎬 Films</a></li>
        <li class="nav-item"><a class="nav-link" href="#">📝 Reviews</a></li>
        <li class="nav-item"><a class="nav-link" href="#">📺 Watchlist</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'lists:list_overview' %}">📚 Lists</a></li>
      </ul>
    </div>
  </div>
</nav>
